---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Transition function
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}
@mixin transition-delay($delay) {
  -webkit-transition-delay: $delay;
     -moz-transition-delay: $delay;
      -ms-transition-delay: $delay;
          transition-delay: $delay;
}


// Variables
$text-color:       #111;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$green-color:      #27a822;

$border-color:     $green-color;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout",
        "syntax-highlighting"
;
